<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click=handleBtnClick>Submit</button>

        <ul>
            <todo-item v-for="(item,index) in list" :index="index" v-bind:task="item" @delete="deleteItem" :test="3+3"></todo-item>
        </ul>
        <div is="hi"></div>
    </div>
    <script src="../vendor/vue.js"></script>
    <script>
        // global component
        // Vue.component("todo-item",{
        // props:[
        //     "task"
        // ],
        // template:`<li>{{task}}</li>`
        // });
        // var aaa = {
        //     props: [
        //         "task"
        //     ],
        //     template: `<li>{{task}}</li>`
        // }
        var app = new Vue({
            el: "#app",
            components: {
                "hi": {
                    template: "<span ref='hello' @click='prints'>Hello World!</span>",
                    methods: {
                        prints() {
                            console.log(this.$refs.hello)
                        }
                    }

                },
                "todo-item": {
                    props: [
                        "test",
                        "task",
                        "index"
                    ],
                    template: `<li>{{task}} {{test}}<button @click="remove">Delete</button></li>`,
                    methods: {
                        remove() {
                            this.$emit("delete");
                        },

                    }
                }
            },
            data: {
                inputValue: '',
                content: "Hello Vue!",
                list: []
            },
            methods: {
                handleBtnClick() {
                    if (this.inputValue !== "") {
                        this.list.push(this.inputValue);
                        this.inputValue = "";
                    }
                },
                deleteItem() {
                }
            }
        }); 
    </script>
</body>

</html>